﻿@{
    ViewData["Title"] = "Виртуальная стиральная машина";
}

@section styles {
    <link rel="stylesheet" href="~/css/devices.css" asp-append-version="true" />
}

<!-- сюда писать разметку -->
<div class="sample">sample</div>

@section Scripts {
    <script src="~/js/devices.js" asp-append-version="true"></script>
} 