@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-2 offset-md-4">
        <a class="btn btn-primary btn-lg form-control" asp-controller="Stand" asp-action="Stands">Стенды</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary btn-lg form-control" asp-controller="RoleManager" asp-action="Index">Управление Ролями</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary btn-lg form-control" asp-controller="UserRoles" asp-action="Index">Роли Пользователей</a>
    </div>
</div>